ul.jsonlists {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 13px;
}

ul.jsonlists li {
	color: #000;
	border-bottom: 1px solid #f1f1f1;
	padding: 5px 0;
}
ul.jsonlists li a {
	color: #000;
}

ul.jsonlists li a:hover {
	text-decoration: none;
    color: grey;
}